.Booking {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.screen {
    margin: 0 auto;
    margin-top: 2rem;
    width: 40%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 8px 20px #ccc;
}

.seats {
    margin-top: 3rem;
}

.priceCheckout {
    width: 70%;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.price {
    font-size: 1.5rem;
}

.price span {
    color: var(--prim-color);
    font-weight: bold;
    margin: 0 0.5rem;
}

.checkoutBtn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.6rem 1rem;
    background-color: var(--prim-color);
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}

.checkoutBtn.disabled {
    pointer-events: none;
    background-color: #818181;
    color: #222;
    cursor: not-allowed;
}

.checkoutBtn i {
    margin-left: 0.5rem;
}

.checkoutBtn:hover {
    background-color: var(--prim-color-hover);
}

.checkoutBtn:hover i {
    animation: rot 2s;
}

@keyframes rot {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg);
    }
}