.SeatIndicators {
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    width: fit-content;
    align-content: center;
    background-color: #cccccc15;
    justify-content: center;
    border-radius: 10px;
}

.seatGroup {
    height: 100%;
    display: flex;
    margin-right: 6rem;
}

.seatGroup:last-of-type {
    margin-right: 0;
}

.seatGroup p {
    margin-left: 0.5rem;
}